body {
  max-width: 64rem;
  margin: auto;
}
header,
h2 {
  text-align: center;
}
header {
  background-color: #007a54;
  color: #f8f6f1;
  padding: 1em;
  border-radius: 10px 10px 0 0;
}
main {
  border: 2px solid #007a54;
  border-radius: 0 0 10px 10px;
}
ul,
ol {
  margin: 1em auto;
  text-align: center;
  list-style-type: none;
  margin-right: 2em;
}
li {
  margin: 0.5em 0;
}
h2 {
  line-height: 0.2em;
  margin-top: 1.5em;
}
a {
  font-size: 1.2em;
}
.lstLst {
  color: rgba(255, 8, 0, 0.856);
}
<<<<<<< HEAD
=======
p {
  text-align: center;
}
>>>>>>> 0c68efe3d25e8b183d3d7ad5ff4d0634987deddc
