form {
  margin: 1em;
  border: 2px solid #007a54;
  padding: 1em;
  background-color: #f8f6f1;
}
.error {
  background: #f99;
  border: #900 1px solid;
  display: none;
}
input {
  background-color: rgb(223, 223, 223);
  border: 2px solid #333;
}
#heroName,
#realName {
  display: block;
}
label:not(#heroName, #realName) {
  display: block;
}
#age {
  margin: 1em;
}
#origin {
  width: 100%;
}
button {
  background-color: #007a54;
  color: #f8f6f1;
}
p {
  border-bottom: 2px solid #007a54;
}
option[value='Lothlorien'] {
  background-color: rgb(253, 255, 119);
}
option[value='Mirkwood'] {
  background-color: #007a54;
  color: #f8f6f1;
}
option[value='Camp Half-Blood'] {
  background-color: #ff7300;
  color: #000;
}
option[value='Fablehaven'] {
  background-color: rgb(107, 62, 31);
  color: rgb(241, 255, 242);
}
option[value='Nevarro'] {
  background-color: rgb(223, 223, 223);
  color: #000;
}
option[value="Dragon's Edge"]{
  background-color: #ff0000;
  color: #fff;
}