* {
  margin-bottom: 1em;
}
#target {
  margin-left: 1em;
}
h1:hover span:first-of-type {
  display: inline-block;
  transform: translate(2.1em, 0.5em);
}
h2:first-of-type:hover #tree {
  display: inline-block;
  transform: scale(3);
  margin-left: 1em;
}
#rotate:hover span {
  display: inline-block;
  transform: translate(0.5em, 9em) rotate(90deg) ;
}
#all:hover span {
  display: inline-block;
  transform: translate(3.3em) scale(3) rotate(10deg);
}
